@font-face {
    font-family: SM Primaria;
    src: url(./resources/css/SMPrimaria-Regular.otf);
}

@font-face {
  font-family: SM Primaria-Bold;
  src: url(./resources/css/SMPrimaria-Bold.otf);
}

* {
    font-family: SM Primaria, Arial, sans-serif;
    margin:0;
    line-height: 1.3em;
  }

  body{
    background: #00B0A9;
  }

  a {
    text-decoration: underline!important;
    color: white;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
   
  .fixed-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5em;
    position: sticky;
}

.nav-col.col-2 {
    display: flex;
    justify-content: center;
}

.nav-col.col-2 button {
  background-color: white;
  color: #00b0a9;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'SM Primaria-Bold';
}
.nav-col.col-2 button:hover{
  background-color: #552FEA;
  color: white;
}

.nav-col.col-3 button:hover{
  background-color: #552FEA;
  color: white;
}

.nav-col.col-3 {
  display: flex;
  justify-content: center;
}

.nav-col.col-3 button {
  background-color: white;
  color: #00b0a9;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'SM Primaria-Bold';
}
  
  .logo {
    width: 700px;
    height: auto;
    object-fit: contain;
  }

  .buttons{
    display: flex;
    gap: 20px;
  }
   
  p, 
  li {
    font-size: 18px;
    line-height: 1.3em;
  }
   
   
  a {
    text-decoration: none;
  }

h1 {    
   font-size: 30px;
   text-align: center;
   color: white;
   font-family: SM Primaria-Bold;
}

h2{
  font-size:50px;
  text-transform: uppercase;
  color: white;
}

h3{
    font-family: Tombstone;
    text-transform: uppercase;
    font-size: 40px;
}

.paragraph-title{
  font-family: SM Primaria-Bold;
}

nav{
    color: blue;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.navitem{
font-size: 40px;
padding: 10px;
}

#services {
  /* styles for the container div */
  display: flex;
  flex-direction: column;
  margin-top: 52px;
}

.clickable-div {
  /* styles for the clickable div */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 20px 5em;
  background: #552fea;
  border-top: white 1px solid;
  align-items: center;
}

.content {
  /* styles for the content div */
  opacity: 100;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  background: #552fea;
    color: white;
}

.show {
  /* styles to show the content */
  opacity: 1;
  visibility: visible;
  max-height: 600px;
  padding:  1em 5em 5em;
  transform: 0.5s ease, height 0.5s ease;
}

.plus-sign {
  /* styles for the SVG plus sign */
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
  transition: transform 0.5s ease;
}

.hide {
  /* styles for the hidden content div */
  opacity: 0;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  transition: transform 0.5s ease, height 0.5s ease, visibility 0.5s ease;
}

button {
  /* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 28px;
opacity: 1;
border: none;
width: 130px;
height: 40px;
}

.brand-claim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 20em;
}

.purple-popup{
  background: #552FEA;
  width: 305px;
  color: white;
  padding: 40px;
  text-align: center;
  top: 685px;
  z-index: -1;
  right: 427px;
  position: absolute;
  border-radius: 28px;
}

.purple-popup.aos-init.aos-animate {
  rotate: -15deg;
}

#instructions{
  gap: 90px;
  display: flex;
  color: white;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 5em;
}

.instructions-col {
width:25%;
}

#bases{
  gap: 56px;
  display: flex;
  color: white;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
}

.bases-col {
width:33%;
}

h1.bases-col-1{
  text-align: left;
    background-image: url(./resources/images/Amarillo_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 50px;
}

h1.bases-col-2{
  text-align: left;
    background-image: url(./resources/images/Verde_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 50px;
}

h1.bases-col-3{
  text-align: left;
    background-image: url(./resources/images/Rosado_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 50px;
}

footer {
  background-color: #552FEA;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-top: white 1px solid;
  align-items: flex-end;
  padding: 5em;
}  

footer img{
  width: 500px;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  background: white;
  padding: 10px;
  color: black;
  border-radius: 30px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee p {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: marquee 50s linear infinite;
  font-family: SM Primaria-Bold ;
}

@keyframes marquee {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bases-container{
  display: flex;
  gap:50px;
}

.footer-title{
  text-align: left;
   width:600px; 
   text-align: left;
      width: 455px;
      font-size: 20px;
      line-height: 1.4em;
}
  
.mark-blue {
  color: #00B0A9;
  font-family: SM Primaria-Bold;
}

.mark-pink {
  color: #FB00A7;
  font-family: SM Primaria-Bold;
}

.mark-green {
  color: #77EE79;
  font-family: SM Primaria-Bold;
}

.mark-purple {
  color: #552FEA;
  font-family: SM Primaria-Bold;
}
